<div id="body">
    <table id="tools" class="table table-striped"></table>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/tools', function (toolsJsonPayload) {
                $(toolsJsonPayload).each(function (i, item) {
                    $('#tools').append(
                        '<tr><td style="width: 1px;"></td><td><b>Tool</b></td><td><b>Options</b></td></tr>',
                        '<tr>',
                        '<td><p><b>' + item.Name + '</b></p><p><b>' + item.Id + '</b></p></td>',
                        '</tr>'
                    );
                });
            });
        });
    </script>
}